<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for items in account %}
                <tr>
                    <td>
                        {{ items.name}}
                    </td>
                    <td>
                        {{ items.number}}
                    </td>
                    <td>
                        {{items.receipts.count}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
