<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                   <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                   </li>
                   <li>
                    <a href="{% url 'login' %}">Login</a>
                   </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            My Receipts
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for things in tab  %}
                <tr>
                    <td>{{things.vendor}}</td>
                    <td>{{things.total}}</td>
                    <td>{{things.tax}}</td>
                    <td>{{things.date|date:'m/d/y'}}</td>
                    <td>{{things.category}}</td>
                    <td>{{things.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
